[submodule "Source/Cacao/hook/lilac-core"]
	path = Source/Cacao/hook/lilac-core
	url = https://github.com/altalk23/lilac-core
    
[submodule "Source/Cacao/cocos"]
	path = Source/Cacao/cocos
	url = https://github.com/altalk23/cocos-headers
[submodule "Source/Cacao/gen/Broma"]
	path = Source/Cacao/gen/Broma
	url = https://github.com/CacaoSDK/Broma
[submodule "Source/Cacao/gen/fmt"]
	path = Source/Cacao/gen/fmt
	url = https://github.com/fmtlib/fmt
